<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin_layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add Order - MTS e-Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/pharmacy/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body id="page-top">
<div layout:fragment="content">
<div id="wrapper">
    
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">

             <div class="container-fluid">
                 <h3 class="text-dark mb-4">Add Order</h3>
                 <div class="row mb-3">
                     <div class="col-lg-2 offset-lg-0"></div>
                     <div class="col-lg-8">
                         <div class="row mb-3 d-none">
                             <div class="col">
                                 <div class="card text-white bg-primary shadow">
                                     <div class="card-body">
                                         <div class="row mb-2">
                                             <div class="col">
                                                 <p class="m-0">Peformance</p>
                                                 <p class="m-0"><strong>65.2%</strong></p>
                                             </div>
                                             <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                         </div>
                                         <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col">
                                 <div class="card text-white bg-success shadow">
                                     <div class="card-body">
                                         <div class="row mb-2">
                                             <div class="col">
                                                 <p class="m-0">Peformance</p>
                                                 <p class="m-0"><strong>65.2%</strong></p>
                                             </div>
                                             <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                         </div>
                                         <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <div class="card shadow mb-3">
                                     <div class="card-header py-3">
                                         <p class="text-primary m-0 font-weight-bold">Order Details</p>
                                     </div>
                                     <div class="card-body">
                                         <form autocomplete="off" action="#" th:action="@{/admin/orders/add}"
                                               th:object="${customerOrder}" method="post" class="form-horizontal"
                                               role="form">
                                             <div class="form-row">
                                                 <div class="col">
<!--                                                      <div class="form-group"><label for="orders"><strong>Order</strong></label> -->
<!--                                                          <select class="form-control" th:field="*{orderId}"> -->
<!--                                                              <option value="">Order</option> -->
<!--                                                              <option th:each="order : ${orders}" -->
<!--                                                                      th:value="${order.id}" -->
<!--                                                                      th:text="${order.order_name}"></option> -->
<!--                                                          </select> -->
<!--                                                      </div> -->
                                           
                                                     <div class="form-group"><label for="orderDate"><strong>Order Date</strong></label><input class="form-control" type="text" th:field="*{orderDate}" placeholder="Order Date" name="orderDate"></div>
                                                     <div class="form-group"><label for="orderStatus"><strong>Order Status</strong></label><input class="form-control" type="text" th:field="*{orderStatus}" placeholder="Order Status" name="orderStatus"></div>
                                                    <div class="form-group"><label for="orderTotal"><strong>Order Total</strong></label><input class="form-control" type="text" th:field="*{orderTotal}" placeholder="Order Total" name="orderTotal"></div>
                                                 </div>
                                             </div>
                                             <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Add</button></div>
                                         </form>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <footer class="bg-white sticky-footer">
             <div class="container my-auto">
                 <div class="text-center my-auto copyright"><span>Copyright © MTS e-Store 2021</span></div>
             </div>
         </footer>
     </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
     </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
 <script src="/pharmacy/js/bs-charts.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
 <script src="/pharmacy/js/theme.js"></script>
 </body>